@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Caveat&family=Caveat+Brush&family=Montserrat:wght@300;500;600;700&display=swap');
    
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.bg{
    background: #000000;
    color: white;
}
.logo{
    display: flex;
    padding: 1.4em 0 0 3em;
    align-content: center;
    height: 100%;
    cursor: pointer;
}

.navmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.buttons{
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 35rem;
    
}
.sign{
    background-color: #4C5FD5;
    color: #fff;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    font-size: 1.3rem;
    font-weight: 500;
    width: 7em;
    height: 2.5em;
    text-align: center;
    margin-right: 1.5em;
}
li:nth-child(odd){
    cursor: pointer;
}
.sign:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.submit{
    background-color: rgb(43, 41, 41);
    color: #fff;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 0.1em solid rgba(255, 255, 255, 0.795);
    border-radius: 0.5em;
    font-size: 1.3rem;
    font-weight: 500;
    width: 10em;
    height: 2.5em;
    text-align: center;
    margin-right: 1.5em;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-content: center;
    margin: 0;
    padding: 0em;
}  
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0em;
}
li{
    padding: 0 0.5em 0 0;
}
.navmenu h3{
    font-weight: 600;
    font-size: 1.4rem;
}
.topbg{
    background-color: #dadbf1;
    text-align: center;
    padding: 4em 0 4em;
    
}
.topbg h1{
    font-size: 4.1rem;
    font-weight: 500;
    padding-left: 2em;
    color: #000;
    
}
.topbg input[type=search]{
    width: 60%;
    height: 4.7em;
    border-color: #000 ;
    border-width: -3.5em;
    border-radius: 0.5em;
    padding-left: 1em;
    font-size: 1em;
    padding-top: 0.5em;
}

.topbg input[type=search]:hover{
    border-color:  #6579ff;
}
.topbg input[type=search]:{
    border-color:  #6579ff;
}
.topbg a {
    text-decoration: none;
    font-size: 3rem;
    margin: -1.5em;
    
    z-index: 1;
}
.midbg{
    background: #fff;
    padding: 8rem 8rem 6rem 8rem;
    color: #000;
    display: flex;
    align-items: center;
}
.branches{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 3em;
}
.branches img{
    padding: 0 1.5em 0 0;
}
.branches h2 {
    margin: 0.3em;
    padding-left: 0em;
    
}
.branches a{
    margin: 0.3em;
    padding-left: 3.2em;
    text-decoration: none;
    color: #4C5FD5;
}
.branches p{
    margin: 0.3em;
    padding-left: 3.2em;
}
.mngacc{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 3em;
}
.mngacc img{
    padding: 0 1.5em 0 0;
}
.mngacc h2 {
    margin: 0.3em;
    padding-left: 0em;
    
}
.mngacc a{
    margin: 0.3em;
    padding-left: 3.2em;
    text-decoration: none;
    color: #4C5FD5;
}
.mngacc p{
    margin: 0.3em;
    padding-left: 3.2em;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer ul{
    flex-direction: column;
    padding: 0em;
}
.footer h4{
    font-weight: 300;
    font-size: -0.5em;   
    margin: 0em 0em 0.5em 0em;
}
.footer2{
    display: flex;
    font-weight: 200;
    font-size: 0.1em;
}
.footer2 h4{
    font-weight: 300;
    font-size: -0.5em;   
    margin: 0em 0em 0.5em 0em;
}
.copyright{
    margin: 10em 0em 1em 5em;
    
}
.copyright h3{
    font-weight: 500;
}
